<template>
  <div class="player">
    <button class="playBtn" @click="toggle">{{ status ? "⏸︎" : "⏵︎" }}</button>
    <div class="range">
      <input
        type="range"
        ref="range"
        min="0"
        :max="duration"
        :value="0"
        @change="changeCurrentTime"
      />
      <div class="track">
        <div
          class="current"
          :style="{ width: `${(currentTime * 100) / duration}%` }"
        >
          <div class="pointer"></div>
        </div>
      </div>
    </div>
    <div class="counters">{{ time }} / {{ count }}</div>
  </div>
</template>

<script>
export default {
  name: "AudioPlayer",
  props: {
    id: {
      type: String,
    },
    src: {
      type: String,
      required: true,
    },
    reflect: {
      type: String,
      default: "",
    },
  },
  data() {
    return {
      status: 0,
      player: null,
      duration: 1,
      currentTime: 0,
    };
  },
  computed: {
    count: function () {
      const minutes = Math.floor(this.duration / 60);
      const seconds = Math.floor(this.duration % 60);
      return `${minutes < 10 ? "0" : ""}${minutes}:${
        seconds < 10 ? "0" : ""
      }${seconds}`;
    },
    time: function () {
      const minutes = Math.floor(this.currentTime / 60);
      const seconds = Math.floor(this.currentTime % 60);
      return `${minutes < 10 ? "0" : ""}${minutes}:${
        seconds < 10 ? "0" : ""
      }${seconds}`;
    },
  },
  mounted() {
    this.player = new Audio(this.src);
    this.player.addEventListener("loadeddata", () => {
      this.duration = this.player.duration;
    });
    this.player.addEventListener("timeupdate", () => {
      this.currentTime = this.player?.currentTime || 0;
    });
    this.player.addEventListener("ended", () => {
      this.status = 0;
    });
  },
  watch: {
    reflect: function (val) {
      if (val !== this.id) this.pause();
    },
  },
  methods: {
    pause() {
      this.status = 0;
      this.player.pause();
    },
    toggle() {
      if (this.player.paused) {
        this.$emit("update", this.id);
        this.player.play();
        this.status = 1;
      } else {
        this.pause();
      }
    },
    changeCurrentTime(e) {
      this.player.currentTime = e.target.value;
      this.currentTime = e.target.value;
    },
  },
};
</script>


<style scoped lang="scss">
.player {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.playBtn {
  border: none;
  background: none;
  display: block;
  padding: 0;
  margin: 0 20px 0 0;
  color: #1e90ff;
  font-size: 20px;
  line-height: 1;
}
.range {
  width: 300px;
  height: 1px;
  position: relative;

  input {
    width: calc(100% + 14px);
    height: 7px;
    margin: 0;
    position: absolute;
    left: -7px;
    top: -3px;
    opacity: 0;
  }
}
.track {
  background: #ccc;
  height: 1px;
  position: relative;
  pointer-events: none;
}
.current {
  height: 1px;
  position: relative;
  background: #1e90ff;
  pointer-events: none;
}
.pointer {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  top: -2px;
  right: -2.5px;
  background: #1e90ff;
  pointer-events: none;
}
.counters {
  margin-left: 20px;
  color: #777;
  font-size: 13px;
}
</style>
