<template>
  <div class="players">
    <audio-player
      v-for="(src, i) in list"
      :key="i"
      :id="String(i)"
      :src="src"
      :reflect="reflect"
      @update="updatePlayers"
    />
  </div>
</template>

<script>
import AudioPlayer from "./AudioPlayer.vue";

export default {
  components: { AudioPlayer },
  props: {
    list: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      reflect: "",
    };
  },
  methods: {
    updatePlayers(id) {
      this.reflect = id;
    },
  },
};
</script>

<style>
</style>
