<template>
  <div class="players">
    <audio-players-list :list="audioList" />
    <br />
    <br />
    <audio-player src="audio/1.wav" />
  </div>
</template>

<script>
import AudioPlayer from "./components/AudioPlayer.vue";
import AudioPlayersList from "./components/AudioPlayersList.vue";

export default {
  name: "App",
  components: { AudioPlayersList, AudioPlayer },
  data() {
    return {
      audioList: ["audio/1.wav", "audio/2.mp3"],
    };
  },
};
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
